/* 全局基础样式 */
html,
body {
  margin: 0; 
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

img, video, canvas {
  image-rendering: optimizeQuality; 
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -moz-crisp-edges; 
  backface-visibility: hidden; 
  perspective: 1000px; 
  filter: blur(0.5px);
  background-color: transparent;
}

